<div class="container">
    <div class="story">
        <img src="../../assets/img/868320_people_512x512.png" alt="story">
        <h6>user</h6>
    </div>
    <div class="story">
        <img src="../../assets/img/360_F_279669366_Lk12QalYQKMczLEa4ySjhaLtx1M2u7e6.jpg" alt="story">
        <h6>user</h6>
    </div>
    <div class="story">
        <img src="../../assets/img/868320_people_512x512.png" alt="story">
        <h6>user</h6>
    </div>
    <div class="story">
        <img src="../../assets/img/360_F_279669366_Lk12QalYQKMczLEa4ySjhaLtx1M2u7e6.jpg" alt="story">
        <h6>user</h6>
    </div>
    <div class="story">
        <img src="../../assets/img/868320_people_512x512.png" alt="story">
        <h6>user</h6>
    </div>
    <div class="story">
        <img src="../../assets/img/360_F_279669366_Lk12QalYQKMczLEa4ySjhaLtx1M2u7e6.jpg" alt="story">
        <h6>user</h6>
    </div>
    <div class="story">
        <img src="../../assets/img/868320_people_512x512.png" alt="story">
        <h6>user</h6>
    </div>
    <div class="story">
        <img src="../../assets/img/360_F_279669366_Lk12QalYQKMczLEa4ySjhaLtx1M2u7e6.jpg" alt="story">
        <h6>user</h6>
    </div>
    <div class="story">
        <img src="../../assets/img/868320_people_512x512.png" alt="story">
        <h6>user</h6>
    </div>
    <div class="story">
        <img src="../../assets/img/360_F_279669366_Lk12QalYQKMczLEa4ySjhaLtx1M2u7e6.jpg" alt="story">
        <h6>user</h6>
    </div>
</div>